<!DOCTYPE html>
<html lang="en">
<style>
 #barra{
    margin:0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;

 } 
 #barra li{
    display: inline;
    margin: 0 30px;
 }
</style>
<body>
    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li class="current"><a href="index.html">Inicio</a></li>
            <li><a href="curso.html">Curso</a></li>
            <li><a href="estudiante.html">Estudiante</a></li>
            <li><a href="profesor.html">Profesor</a></li>
        </ul>
    </nav>
</body>
</html>