{% extends 'AppCentu/base.html' %}

{% block content %}
    <h2 class="text-center">Sección Profesores</h2>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.nombre.id_for_label }}" class="col-form-label">Nombre:</label>
                {{ form.nombre }}
            </div>
            <div class="form-group">
                <label for="{{ form.apellido.id_for_label }}" class="col-form-label">Apellido:</label>
                {{ form.apellido }}
            </div>
            <div class="form-group">
                <label for="{{ form.profesion.id_for_label }}" class="col-form-label">Profesión:</label>
                {{ form.profesion }}
            </div>
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}" class="col-form-label">Email:</label>
                {{ form.email }}
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
{% endblock %}
